<button type="button" routerLink="/"> Back to home </button>

<h2>{{title}}</h2>
<form  (ngSubmit)="saveItems(itemForm)" #itemForm="ngForm">
  <div>
      Firstname : <input type="text" name="firstname" id="firstname" 
                        ngModel required [(ngModel)]="item.firstname" #firstname="ngModel">
      Lastname : <input type="text" name="lastname" id="lastname" 
                        ngModel required [(ngModel)]="item.lastname" #item.lastname="ngModel">
      Nickname : <input type="text" name="nickname" id="nickname" 
                        ngModel required [(ngModel)]="item.nickname" #item.nickname="ngModel">
  </div><br>
  <button type="submit" >Submit</button>
</form>
